html
  meta
  title
  head
    style
    script(type="text/javasctipt") //属性
  body
    div
       ul
         li
           input(type="text",id="ipt",name="inputName")
         li
         li
           span