html
  meta
  title
  head
    style
    script(type="text/javasctipt") 
  body
    div
       ul
         li
           input(type="text",id="ipt",name="inputName")
         li
           a(href="http://www.baidu.com") 点击跳转  //内容
         li
           span